body {
   overflow:hidden;
   background:#674bb1 url('/images/bg-desktop.svg') no-repeat;
   background-size:90% 100%;
   background-position: -50px;
   background-attachment:fixed;
}

header{
    position: relative;
    padding:4rem;
}

.logo {
    position: relative;
    left: .9rem;
    width:16rem;
}

.section_principal{
    position: relative;
    top: 2rem;
    left: 3rem;
}

.imagem_sites{
    width: 57rem;
    height: 40rem;
}